/* Browser Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
/* div, */
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    text-align: inherit;
    background: transparent;
    border: 0;
    font-family: inherit;
    outline: 0;
    vertical-align: baseline;
    white-space: normal;
    line-height: 0;
}


:root {
    scroll-behavior: smooth;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

@font-face {
    font-family: Germanica;
    src: url('../assets/fonts/Germanica/Plain\ Germanica.ttf') format('truetype');
}

:root {
    --mainColor: #29335C;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
    --white: rgba(255, 255, 255, 1.00);
    --dell-blue: #0076ce;
    --grey: rgba(72, 72, 72, 1.00);
    --gris-oscuro: rgba(43, 43, 43, 1);
    --gris-medio-oscuro: rgba(43, 43, 43, 1);
    --gris-medio: rgba(70, 70, 70, 1);
    --grey-light: rgba(72, 72, 72, 0.80);
    --fondo-header: rgba(73, 77, 85, 1);
    --font-color-header: rgba(88, 187, 238, 1);
    --fondo-body: rgba(249, 249, 251, 1);
    --highlight: rgba(81, 203, 238, 1);
    --steal-blue: rgba(70, 120, 180, 1);
}

html {
    box-sizing: border-box;
    font-size: 1.00rem;
    font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

/* ----------------------------------------------------------------------------------------------------- */

.jea {
    border: 1px solid red;
}

img {
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------------------------------------------------------- */

body {
    width: 100%;
}

.home {
    background-image: url("/src/components/assets/images/Fondo.jpg");
    background-size: cover;
    height: 100vh;
}

/* header {
    display: flex;
    top: 0px;
    background-color: var(--fondo-header);
    height: 130px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 1px;
    display: flex;
    flex-flow: row wrap;
} */

/* header .huincha {
    flex: 1 0 auto;
    background-color: var(--font-color-header);
    height: 4px;
    width: 100%;
} */

/* header .titulo {
    padding-top: 12px;
    display: flex;
    flex-flow: col wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
} */

/* header img {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    content: url("/src/components/assets/icons/bandera.png");
} */

/* header .titulo-marca::before {
    content: 'Apoderados por el Rechazo';
}

header .titulo-marca {
    flex: 0 0 auto;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--font-color-header);
padding-right: 12px;
}

header .titulo-texto {
    flex: 0 0 auto;
    font-size: 1.9rem;
    font-weight: 800;
    color: var(--white);
    text-transform: uppercase;
    padding-top: 20px;
}

header .opciones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

main {
    background-color: var(--fondo-body);
    min-height: calc(100vh - 80px - 60px);
    color: orange;
    font-size: 3rem;
}

.footer {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    background-color: rgba(70, 70, 70, 1);
    color: white;
}

*/
/* ----------------------------------------------------------------------------------------------------- */

/* .container-row {
    display: flex;
    flex-flow: row wrap;
}

.container-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.container-col {
    display: flex;
    flex-flow: col wrap;
}

.container-col-nowrap {
    display: flex;
    flex-flow: col nowrap;
}

.flex-resto {
    flex: 1 0 1fr;
}

.flex-auto {
    flex: 1 0 auto;
}

.flex-fijo {
    flex: 1 0 100%;
} */

/* ----------------------------------------------------------------------------------------------------- */

/* .jc-center {
    justify-content: center;
}

.sp-evenly {
    justify-content: space-evenly;
}

.jc-flex-end {
    justify-content: flex-end;
}

.ac-evenly {
    align-content: space-evenly;
}

.ac-flex-end {
    align-content: flex-end;
}

.ac-flex-center {
    align-content: center;
}

.ai-flex-end {
    align-self: flex-end;
}

.ai-flex-center {
    align-self: center;
} */

/* ----------------------------------------------------------------------------------------------------- */

.rrss {
    flex: 0 0 100%;
    padding: 8px;
    color: rgba(255, 255, 255, 1);
}

.social-media-icon {
    margin-right: 8px;
    padding: 6px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    text-align: center;
}

.social-media-icon:hover {
    background: rgba(255, 255, 255, 1);
    color: blue;
}

.header-img-logo {
    padding-top: 4px;
    width: 70px;
    height: auto;
    margin-left: 20px;
}

/* ------------------------------------------------------------------------- */

input[type="text"],
input[type="email"],
textarea {
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.50rem;
    margin-bottom: 0.50rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1.00rem;
    line-height: 0.95%;
    background-color: white;
    color: black;
}

textarea {
    font-family: inherit;
    resize: none;
}

button,
input[type="submit"],
input[type="reset"] {
    border: 1px solid #444;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0 0;
    display: inline-block;
    background-color: #eee;
    color: #444;
    font-weight: 600;
    font-size: 0.85em;
    line-height: 80%;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 0.90rem;
    padding: 6px 18px;
    margin: 2px 8px;
    line-height: 100%;
    font-weight: 500;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* ------------------------------------------------------- */

.form-group-sm {
    border: 1px solid red;
}

.form-label-sm {
    height: calc(1.5em + 0.50rem + 2px) !important;
    padding: 0.15rem 0.5rem !important;
    font-size: 0.90rem !important;
    font-weight: 500;
    line-height: 1.5 !important;
    color: black;
    white-space: nowrap;
}

.form-control-sm {
    height: calc(1.5em + 0.50rem + 2px) !important;
    padding: 0.05rem 0.5rem !important;
    font-size: 0.80rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
    background-color: white !important;
}

.form-control-sm:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control-sm::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control-sm:disabled,
.form-control-sm[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* ------------------- xxx ------------------------------------ */

.texto-6xl {
    font-size: 3.40rem;
    line-height: 110%;
}

.texto-5xl {
    font-size: 3.00rem;
    line-height: 110%;
}

.texto-4xl {
    font-size: 2.60rem;
    line-height: 110%;
}

.texto-3xl {
    font-size: 2.40rem;
    line-height: 110%;
}

.texto-2xl {
    font-size: 2.20rem;
    line-height: 110%;
}

.texto-xl {
    font-size: 1.80rem;
    line-height: 110%;
}

.texto-lg {
    font-size: 1.40rem;
    line-height: 110%;
}

.texto {
    font-size: 1.00rem;
    line-height: 110%;
}

.texto-md {
    font-size: 0.90rem;
    line-height: 110%;
}

.texto-sm {
    font-size: 0.80rem;
    line-height: 110%;
}

.texto-xsm {
    font-size: 0.70rem;
    line-height: 110%;
}


.fw-bold {
    font-weight: 700;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 300;
}

/* ----------------------------------------------------------------------------------------------------- */

.navlink-xl {
    text-decoration: none;
    font-size: 1.80rem;
    font-weight: 400;
    line-height: 100%;
    cursor: pointer;
}

.navlink-xl:hover {
    color: #15cdfc;
}

.navlink-lg {
    text-decoration: none;
    font-size: 1.40rem;
    font-weight: 400;
    line-height: 100%;
    padding-right: 12px;
    cursor: pointer;
}

.navlink-lg:hover {
    color: #15cdfc;
}

.navlink {
    text-decoration: none;
    font-size: 1.20rem;
    font-weight: 400;
    line-height: 100%;
    padding-right: 12px;
    cursor: pointer;
}

.navlink:hover {
    color: #15cdfc;
}

.navlink-sm {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 100%;
    padding-right: 12px;
    cursor: pointer;
}

.navlink-sm:hover {
    color: var(--grey-light);
}

.navlink-md {
    text-decoration: none;
    font-size: 1.00rem;
    font-weight: 400;
    line-height: 100%;
    padding-right: 12px;
    cursor: pointer;
}

.navlink-md:hover {
    color: var(--secondaryColor);
}

/* ----------------------------------------------------------------------------------------------------- */

.check-box {
    color: black;
}

.check-box label {
    font-size: 0.75rem;
    color: black;
    padding: 0px 0px 0px 6px;
}

.checkbox input {
    color: black;
}

/* ----------------------------------------------------------------------------------------------------- */

.bd-1 {
    border: thin solid rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}


.fc-white {
    color: var(--white);
}

.fc-blue {
    color: var(--dell-blue);
}

.fc-steel-blue {
    color: var(--steal-blue);
}

.fc-highlight {
    color: var(--highlight);
}

.fc-grey {
    color: var(--grey);
}

.fc-grey-light {
    color: var(--grey-light);
}

.fc-secondaryColor {
    color: var(--secondaryColor);
}

.bg-degrade {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.bg-azul {
    background-color: var(--dell-blue);
}

.bg-gris-medio {
    background-color: var(--gris-medio);
}

.bg-gris-oscuro {
    background-color: var(--gris-oscuro);
}

.bg-gris-medio-oscuro {
    background-color: var(--gris-medio-oscuro);
}

/* ----------------------------------------------------------------------------------------------------- */

.mt-1 {
    margin-top: 12px;
}

.mt-2 {
    margin-top: 24px;
}

.mt-3 {
    margin-top: 36px;
}

.mb-1 {
    margin-bottom: 12px;
}

.mb-2 {
    margin-bottom: 24px;
}

.mb-3 {
    margin-bottom: 36px;
}

.pl-3 {
    padding-left: 60px;
    display: inline-block;
}

/* ----------------------------------------------------------------------------------------------------- */

.wd-20 {
    width: 20%;
}

.wd-30 {
    width: 100%;
    /* display: none; */
}

@media screen and (min-width: 1024px) {
    .wd-30 {
        width: 30%;
        display: block;
    }
}

.wd-40 {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .wd-40 {
        width: 40%;
    }
}

.wd-50 {
    width: 50%;
}

.wd-60 {
    width: 60%;
}

.wd-70 {
    width: 80%;
}

@media screen and (min-width: 1024px) {
    .wd-70 {
        width: 70%;
    }
}

.wd-80 {
    width: 80%;
}

.wd-90 {
    width: 90%;
}

.wd-100 {
    width: 100%;
}

.mwd-20 {
    max-width: 20%;
}

.mwd-30 {
    max-width: 30%;
}

@media screen and (min-width: 1024px) {
    .cel {
        margin: 0px;
    }
}

.ml-3 {
    margin-left: 60px;
    display: block;
}

.ul-circle {
    list-style: circle;
    /* padding: 0px 24px; */
    font-size: 1.20rem;
}

.ul-alfa-sm {
    list-style: lower-alpha;
    font-size: 0.85rem;
}

.ul-roman-sm {
    list-style: lower-roman;
    font-size: 0.85rem;
}

/* ----------------------------------------------------------------------------------------------------- */

.Aligner {
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--center {
    align-self: center;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

/* ----------------------------------------------------------------------------------------------------- */

.subrayado {
    color: var(--white);
}

.separador::after {
    content: '|';
}

.separador {
    display: block;
    margin: 10px 6px 0px 6px;
}

.bootstrap-select {
    height: 30px;
    width: 200px;
    background-color: rgba(255, 255, 224, 0.4);
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: navy;
    font-weight: 500;
    font-size: 0.90rem !important;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: cornflowerblue;
    border-width: medium;
    border-radius: 5px;
}

.btnBuscar {
    color: var(--mainColorLight);
    font-size: 1.10rem;
    border: none;
}

/* 
.rdt_Table {
    background-color: red;
    color: purple;
    line-height: 26px;
}

.rdt_TableRow {
    background-color: red;
    color: black;
    line-height: 26px;
}

.rdt_TableCol {
    background-color: #17223b;
    color: #84ff2d;
    line-height: 26px;
}

.rdt_TableCol_Sortable {
    background-color: #17223b;
    color: yellow;
    line-height: 26px;
}

.rdt_TableCell {
    background-color: var(--white);
    height: 26px;
    padding: 0;
}

.rdt_TableHeader {
    height: 26px;
    background-color: yellow;
    color: burlywood;
    line-height: 26px;
}

.rdt_TableFooter {
    background-color: #0076ce;
    color: greenyellow;
    line-height: 26px;
}

.rdt_TableHead {
    background-color: #0076ce;
    color: orange;
    line-height: 26px;
}

.rdt_TableHeadRow {
    height: 26px;
    background-color: yellow;
    color: #15cdfc;
    line-height: 26px;
}

.rdt_TableBody {
    background-color: black;
    color: white;
    line-height: 26px;
}

.rdt_ExpanderRow {
    background-color: black;
    color: #15cdfc;
    line-height: 26px;
} */

.img-opciones {
    height: 20px;
    width: auto;
}

/* .row {
    padding: 0 !important;
    margin: 0 !important;
} */

/* .col,
[class*="col-"] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
} */

/* .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
} */