$grey: rgba(72, 72, 72, 1);
$white: rgba(255, 255, 255, 1);

.boton-generico {
    border: 1px solid $grey;
    border-radius: 25px;
    margin: 6px 8px;
    padding: 8px 12px;
    align-items: center;
    background-color: inherit;
    font: {
        weight: 300;
        size: 0.8rem;
    }
    color: $grey;

    &:hover {
        background-color: $grey;
        font: {
            weight: 400;
        }
        color: $white;
    }
}
