.boton-generico {
    border: 1px solid var(--grey);
    border-radius: 25px;
    padding: 8px 12px;
    align-items: center;
    background-color: inherit;
    font-weight: 300;
    font-size: 0.80rem;
    color: var(--grey);
}

.boton-generico:hover {
    background-color: var(--grey);
    font-weight: 400;
    color: var(--white);
}