.boton-generico2 {
    border: 1px solid var(--steal-blue);
    border-radius: 25px;
    padding: 8px 12px;
    align-items: center;
    background-color: var(--steal-blue);
    font-weight: 300;
    font-size: 0.80rem;
    color: var(--white);
}

.boton-generico2:hover {
    background-color: var(--grey);
    font-weight: 400;
    color: var(--white);
}